body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.login-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-card {
  width: 380px;
  padding: 30px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

.login-card h2 {
  margin-bottom: 5px;
}

.login-card p {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 12px;
}

.field input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  outline: none;
}

.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: #4f46e5;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.03);
}

.error-box {
  background: rgba(255, 0, 0, 0.2);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 13px;
}
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: #4f46e5;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center; /* 👈 THIS centers the text */
}
